<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_8ball.Properties.Settingsconfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="_8ball.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <_8ball.Properties.Settingsconfig>
            <setting name="AccessibleShakeDisable" serializeAs="String">
                <value>True</value>
            </setting>
        </_8ball.Properties.Settingsconfig>
        <_8ball.Properties.Settings>
            <setting name="DisableShake" serializeAs="String">
                <value>False</value>
            </setting>
        </_8ball.Properties.Settings>
    </userSettings>
</configuration>